*{
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 600px;
    height: 600px;
    background-color: aqua;
}
.column {
    display: flex;
    background-color: blue;
    flex-direction: column;
}
.square {
    flex-direction: row;
    background-color: white;
    border: .25px solid rgba(0, 0, 0, 0.192);
}